@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;500;700&display=swap');
:root {
  
  /* Colors - Primary */
/* #005596; */
  --primary-blue: #005596;  
  --primary-green: #8CC53F;
  --hover-green: #95cf49;
  --primary-text: rgb(44, 44, 44);
  
  
  /* Colors - Secondary */
  /* --light-blue: #429dce; */
  --light-blue: #0073b8;
  --dark-blue: #001540;
  --secondary-text: rgb(121, 121, 121);
  --collapsible: #f3f2f2;
  --inner-collapsible: #dddddd;

  /* Other Colors */
  --white: #fff;
  --card-background: #f9f9f9;

  /* select colors */
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: 'Noto Sans Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--primary-text);
}




/* this is using a tag target
making tabs appear and disapear 
*/
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.equitable-banner {
  /* TODO: why is this not at the top (i had to -35 px margin-top */
  margin-top: -35px; 
  height: 90px;
  width: 100vw;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
  /* background-image: url(./images/logo.png); */
  /* background-size: 300px; */

}

#equitable-logo {
  height: 150px;
  margin: auto 0;
  margin-top: -1.75rem;
}

.title {
  background-color: #969696;
  width: 100vw;
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
  padding: .25rem;
  /* font-weight: 500; */
}

.page-title {
  font-weight: 300;
  color: var(--primary-text);
  margin-top: 20px;
  margin-bottom: -5px;
  text-transform: uppercase;
  text-align: center;
}

.container {
  background-color: var(--white);
  margin: 2rem;
  width: 100%;
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 64px 64px 64px;
  position: relative;
}


/* PERSONAL INFORMATION */
.personal-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.personal-info-container .container {
  width: 440px;
  display: flex;
  
  padding: 0px 0px 32px 0px;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  
}

.aum-container, 
.baseshop-aum-container,
.monthly-container,
.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.aum-container .container,
.baseshop-aum-container .container, 
.baseshop-monthly-container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1100px;
}

.monthly-container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
}

.dashboard-container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1250px;
}

/* Summary */
.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.summary-container .container {
  width: 840px;
  display: flex;
  
  /* padding: 0px 0px 32px 0px; */
  padding: 2rem 6rem;
  /* gap: 2rem; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  
}
.summary-container .container .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.all-slider-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.personal-info-container .container h3 {
  /* margin-top: 2.5rem; */
  /* align-self not working as expected push to left */
  align-self: flex-start; 
  /* margin-left: 35px; */
  margin-bottom: -2rem;
  padding: 30px 0px;
  color: var(--primary-blue);
}

.baseshop-aum-container .container h3 {
  /* margin-top: 2.5rem; */
  /* align-self not working as expected push to left */
  align-self: flex-start; 
  /* margin-left: 35px; */
  margin-bottom: -2rem;
  padding: 30px 0px;
  color: var(--primary-blue);
}

/* todo create a new class for all these h3's */
.aum-container .container h3,
.monthly-container .container h3,
.baseshop-monthly-container .container h3 {
  align-self: flex-start; 
  /* margin-left: 35px; */
  margin-bottom: -2rem;
  padding: 30px 0px;
  color: var(--primary-blue);
  text-align: center;
}

.summary-container .container h3 {
  align-self: flex-start; 
  /* margin-left: 35px; */
  margin-bottom: -2rem;
  padding: 1rem 0 4rem 0;
  color: var(--primary-blue);
  text-align: center;
}

/* INPUT BOXES */
.personal-inputs {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* padding: 30px; */
  /* border-radius: 5%; */
  /* todo: fix the alignment here - maybe add some padding or margin */
  
}

.inputBox input,
.sm-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  outline: none;
  color: var(--primary-text);
  font-size: 1rem;
  transition: 0.5s;
}
.inputBox input:focus,
.sm-box input:focus {
  outline: 1px solid var(--primary-blue);
}

.sm-box {
  position: relative;
  width: 130px;
  font-size: 1rem;
}

.inputBox {
  position: relative;
  width: 300px;
  background: var(--white);
}

.inputBox span,
.sm-box span, 
.row-total span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.85em;
  color: var(--secondary-text);
  text-transform: uppercase;
  transition: 0.5s;
  padding-left: 15px;
}


.inputBox span {
  text-transform: uppercase;
}

/* .sm-box span { */
  /* did this to move the placeholder/span to the right of the $ */
  /* left: 15; */
/* } */

.inputBox input:valid ~ span, 
.inputBox input:focus ~ span,
.sm-box input:valid ~ span, 
.sm-box input:focus ~ span {
  color: var(--primary-blue);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  /* todo color for sm-box */
  background: #fff;
  border-left: 1px solid var(--primary-blue);
  border-right: 1px solid var(--primary-blue);
  letter-spacing: 0.2em;
}

.sm-box input ~ span.multiplier-span {
  display: none;
}

.sm-box input:valid ~ span.multiplier-span,
.sm-box input:focus ~ span.multiplier-span {
  display: block;
  background: var(--inner-collapsible);
  transform: translateX(0px) translateY(1px);
  border-left: none;
  border-right: none;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.inputBox input:valid ~ span,
.sm-box input:focus ~ span {
  border-left: 2px solid var(--primary-blue);
  border-right: 2px solid var(--primary-blue);
}

.inputBox input:valid, 
.inputBox input:focus,
.sm-box input:valid,
.sm-box input:focus  {
  border: 1px solid var(--primary-blue);
}

.sum-total {
  margin-top: 5rem;
  font-size: 1.5rem;
  color:var(--primary-text);
}

.sum {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-blue);
  margin-bottom: 2rem;
}

.row-total {
  width: 140px;
  height: 41px;
  margin-top: 13px;
  /* padding-bottom: 15px; */
  /* background-color: var(--white); */
  border-radius: 5px;
  /* border: 1px solid var(--primary-blue); */
  align-items: center;
}

/* todo Should I have total like this? */
.row-total span {
  color: var(--primary-blue);
  /* background: var(--white); */
  /*  transform: translateX(10px) translateY(-7px); */
  transform: translateX(-10px) translateY(-7px); 
  /* font-size: 0.65em; */
  font-size: 0.75em;
  /* font-weight: 700; */
  padding: 0 10px;
  /* border-radius: 5px 5px 0px 0px; */
  /* border-left: 1px solid var(--primary-blue);
  border-right: 1px solid var(--primary-blue); */
  letter-spacing: 0.2em;
}

.row-total .row-total-results {
  /* color: var(--primary-text); */
  /* font-size: 1rem; */
  /* padding: 0 10px; */
  margin-top: 8px;
  font-size: 1.1rem;
  font-weight: 400;
}

/***** style the SELECT level/position drop down 
 @url https://moderncss.dev/custom-select-styles-with-pure-css/ *****/
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  color: var(--secondary-text);
  appearance: none;
  font-family: inherit;
  
  cursor: inherit;
  line-height: inherit; 

  outline: none;
  /* stack abov custom arrow */
  z-index: 1;

}

.select {
  width: 100%;
  width: 300px;
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  padding: 0.25em 0.2em;
  /* todo: this may not match the other boxes exactly em vs px*/
  font-size: 0.85em;
  cursor: pointer;
  line-height: 1.1;
  /* don't know if i need backgound-color or background-image */
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  position: relative;
  display: grid;
  grid-template-areas: "select";
  
  align-items: center;
}

.select::after {
  content: "";
  width: 1em;
  height: 0.625em;
  margin-right: 10px;
  background-color: var(--primary-blue);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  

  justify-self: end;
}


select,
.select:after {
  grid-area: select;
}

/* i don't particluarly care for this focus state. Move the contract level above when focused */
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--primary-blue);
  border-radius: inherit;
}


/* CSS */
.nav-btns {
  width: 100%;
  display: flex;
  margin-top: 50px;
  /* gap: 25px; */
  justify-content: space-between;
}
.btn-next {
  margin-top: 2rem;
  height: 50px;
  width: 10rem;
  padding: 1.25rem;
  align-items: center;
  background-color: var(--primary-green);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  /* max-width: 480px; */
  min-width: 160px;
  /* min-height: 40px; */

  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  align-self: center;
}

/* todo: animate button press down */
.btn-next:hover,
.btn-next:focus,
.btn-next:active { 
  background-color: var(--hover-green);
  color: #fff;
}

/*  todo: does this matter? */
/* .btn-next:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
} */

/* current assets under management */
.calculations {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
}

/* collapsible AUM sections */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate */
/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  background-color: var(--primary-blue);
  color: var(--white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size:1rem;
  border-radius: 5px;

  justify-self: flex-start;
  margin-top: 2rem;
  margin-bottom: -1.5rem;
  grid-column: 1/7;
  /* text-transform: capitalize; */
}

.collapsible:hover {
  background-color: var(--light-blue);
}

.active-collapse {
  /* filter: brightness(95%); */
  background-color: var(--light-blue);
  border-radius: 5px 5px 0 0;
}

.active-collapse:hover {
  background-color: var(--primary-blue);
  border-radius: 5px 5px 0 0;
}

/* .collapsible:hover {
  background-color: var(--light-blue);
  border-radius: 5px;
} */

.collapsible-content {
  margin-top: -7px;
  /* padding: 0px 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--collapsible);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* todo: display: flex ... or grid is not actually being applied...  */
  align-items: center;
  justify-items: center;
  /* gap: 20px; */
  padding: 1rem;
  /* padding-left: 3rem; */
  border-radius: 0 0 5px 5px;
}


.monthly-container .collapsible-content,
.baseshop-monthly-container .collapsible-content {
  display: block;
  padding: 1rem 3rem;
}



.inner-collapsible {
  background-color: var(--primary-blue);
  color: var(--white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size:1rem;
  border-radius: 5px;
  justify-self: flex-start;
  margin-top: 2rem;
  margin-bottom: -1.5rem;
  grid-column: 1/7;
}

.inner-collapsible:hover {
  background-color: var(--light-blue);
}

.active-inner-collapse {
  background-color: var(--light-blue);
  border-radius: 5px 5px 0 0;
}

.active-inner-collapse:hover {
  background-color: var(--primary-blue);
  border-radius: 5px 5px 0 0;
}

.inner-collapsible-content {
  margin-top: 24px;
  padding: 0px 18px 0px 20px;
  width: 940px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--inner-collapsible);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  /* padding: 0 1rem; */
  /* padding-bottom: 1rem; */
  border-radius: 0 0 5px 5px;
}

.baseshop-monthly-container .inner-collapsible-content {
  width: 100%;
  /* width:876px; */
  padding: 0 3rem;
}

.flex-rows {
  display: block;
}

.inputs-container {
  width: 100%;
  /* padding: 30px; */
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px; */
/* todo: delete border */

}

/* #c-7,
#c-14,
#c-22,
#c-28 {
  justify-self: flex-start;
  margin-top: 2rem;
  margin-bottom: -1.5rem;
  grid-column: 1/7;
} */


/* toggle plus minus */
.show-plus:before {
  content: "+";
  font-size: 1.5rem;
  padding-right:1rem;
}

.show-minus:before {
  content: "-";
  font-size: 1.5rem;
  padding-right:1rem;
}

#aum-button {
  margin-top: 2rem;
  grid-column: 1/7;
  /* display: grid; */
  /* justify-items: flex-start; */
  justify-self: flex-start;
  font-size: 1.25rem;

}

.grid-group {
  display: grid;
  gap: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
}

/* todo: might not need this if i get rid of the column with fixed income and other income */
.grid-group p {
  height: 65px;
  font-size: .9rem;
  line-height: 30px;
  padding-left:-32px;

}

.inner-grid-group {
  display: grid;
  gap: 5px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.small-input {
  width: 100%;
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-blue);
  background: var(--white);
  border-radius: 5px;
  /* outline: none; */
  outline: 1px solid var(--primary-blue);
  color: var(--primary-text);
  font-size: .1rem;
  /* what is being transitioned? */
  transition: 0.5s;

}

.small-input-currency {
  position: relative;
  margin-top: 19px;
  margin-bottom: 5px;
  color: red;
}


.coming-soon {
  margin-top: 100px;
  font-size: 2rem;
}



/* 
TODO: 
change the background when select contract level
change focus state of select to match other input boxes
change the select contract level drop down arrow to something like https://www.ratehub.ca/alberta-mortgage-calculator
change input boxes to - on hover - change border color to light blue, otherwise light grey for border color
Add a drop-down / expand for each section of the table. 
add a team logo
personal - name / team name

Do we ever use the passive income goal or time frame?
*/

.info-title {
  /* margin-top: 25px; */
  margin-bottom: -10px;
  color: var(--primary-text);
}
/* slider */
.slider-container {
  /* background-color: #9fd2fe; */
  /* width: 300px; */
  /* height: 50px; */
  /* transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute; */
  display: flex;
  justify-content: space-between;
  /* padding: 30px 20px; */
  border-radius: 5px;
  gap: 36px;
}

.slider-nums {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner-collapsible-content .slider-nums {
  display:flex;
  flex-direction: column;
  width: 100%;
}


.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color:rgb(121, 121, 121);
}


input[type="range"]{
  position:relative;
  margin-top: 20px;
  appearance: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  display: block;
  width: 86%;
  height: 8px;
  background-color: #d5d5d5;
  border-radius: 8px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--primary-blue);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--primary-blue);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--primary-blue);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}

input[type="range"]:active::-webkit-slider-thumb {
  
  background-color: #fff;
  border: 3px solid var(--primary-blue);
}
/* #slider-value {
  width: 13%;

  border: 1px solid var(--primary-blue);
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  color: var(--primary-text);

} */

/* #yearInput {
  width: 13%;
  border: 1px solid var(--primary-blue);
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  color: var(--primary-text);
} */

/* todo when active change the highlight to look better */
.slider-input {
  width: 9%;
  border: 1px solid var(--primary-blue);
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  font-size:1rem;
  color: var(--primary-text);
}

.slider-input:focus {
  outline: 1px solid var(--primary-blue);
}

/* Radial Buttons for elite advisor */
.elite-btn {
  float: left;
  margin: 0 10px 0 0;
  width: 145px;
  height: 40px;
  position: relative;
  text-align: center;
}

.elite-btn label,
.elite-btn input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--primary-text);
  /* vertical-align: middle; */
  padding: 4px;
}

.elite-btn input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
  
}
.elite-btn input[type="radio"] + label {
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  
}

.elite-btn input[type="radio"]:checked + label {
  background: var(--primary-blue);
  border-radius: 4px;
  color: var(--white);
}

.elite-btn label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}

.pm-row {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.pm-row p {
  margin-top: 10px;
  /* width: 40px; */
  color: var(--primary-text);

  
}

.pm-row .slider-container {
  width: 680px;
}

/* can i turn this into a class? */
/* make slider full width */
#pm-slider,
#mpa-slider,
#mls-ta-slider,
#mls-a-slider,
#mls-md-slider,
#mls-smd-slider,
#bpa-ta-slider,
#bpa-a-slider,
#bpa-md-slider,
#bpa-smd-slider,
#year-slider,
#rate-of-return-slider {
  width:100%;
}

#year-input,
#rate-of-return-input {
  width:15%;
}

.pm-title {
  margin-top: 40px;
  margin-bottom: -20px;
}

/* #pm-input,
#mpa-input {
  font-size: 1rem;
} */

.add-height {
  height: 30px;
}

/* todo why isn't align-items; center; not working */
.pm-row .bma-title {
  /* display: flex;
  justify-content: center; */
  /* align-items: center;   <---- NEW    */
  line-height: 38px;
  vertical-align: middle;
  padding-bottom: 2px;
  margin: 0;
}

datalist {
  display: flex;
  justify-content: space-between;
  color: red;
  width: 50%;
}

.goals-row {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 2rem;
}

.goals-row .all-slider-content {
  margin-top: -2rem;
}

.summary-totals {
  height:200px;
  /* if I do width 100% of container, but there is padding */
  width:840px;
  transform: translate(-6rem, -2rem);
  background-color: var(--primary-blue);
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  font-size: 1.25rem;
  
}

.vertical-line {
  height: 120px;
  width: 2px;
  background-color: white;

}

.month-points-total,
.month-commission-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.total-numbers {
  margin: 1rem;
  font-size: 2.5rem;
}

.toggle-container {
  margin-top: -100px;
}

.points-row-toggles {
  display: flex;
  justify-content: space-between;
  /* margin-top: -45px; */
  margin: 45px 0;
}

.toggle-row-title {
  color: var(--primary-blue);
  font-size: 1.5rem;
  margin-top: 55px;
}

.summary-toggles {
  height: 115px;
  width: 180px;
  padding: 10px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--primary-blue);
  background-color: var(--white);
  color: var(--primary-blue);
}

.summary-toggles:hover {
  filter: brightness(95%);
  cursor: pointer;
}


.summary-toggles:active {
  transform: translateY(2px);
}


#personal-points-baseshop.active-summary,
#personal-points-baseshop-monthly.active-summary,
#personal-points-basehop-overrides.active-summary,
#personal-points-step-up.active-summary,
#baseshop-points-baseshop.active-summary,
#baseshop-points-baseshop-monthly.active-summary,
#baseshop-points-basehop-overrides.active-summary,
#baseshop-points-step-up.active-summary,

#personal-points-baseshop-yearly.active-summary,
#personal-points-baseshop-yearly.active-summary,
#personal-points-basehop-overrides-yearly.active-summary,
#personal-points-step-up-yearly.active-summary,
#baseshop-points-baseshop-yearly.active-summary,
#baseshop-points-baseshop-yearly.active-summary,
#baseshop-points-basehop-overrides-yearly.active-summary,
#baseshop-points-step-up-yearly.active-summary, 

#personal-points-baseshop-goal.active-summary,
#personal-points-baseshop-goal.active-summary,
#personal-points-basehop-overrides-goal.active-summary,
#personal-points-step-up-goal.active-summary,
#baseshop-points-baseshop-goal.active-summary,
#baseshop-points-baseshop-goal.active-summary,
#baseshop-points-basehop-overrides-goal.active-summary,
#baseshop-points-step-up-goal.active-summary {
  background-color: var(--primary-blue);
  color: var(--white);
}

/* why doesn't this work instead I have to list them all out */
/* .summary-toggles.active-summary:hover {
  background-color: black;
} */

#personal-points-baseshop.active-summary:hover,
#personal-points-baseshop-monthly.active-summary:hover,
#personal-points-basehop-overrides.active-summary:hover,
#personal-points-step-up.active-summary:hover,
#baseshop-points-baseshop.active-summary:hover,
#baseshop-points-baseshop-monthly.active-summary:hover,
#baseshop-points-basehop-overrides.active-summary:hover,
#baseshop-points-step-up.active-summary:hover,

#personal-points-baseshop-yearly.active-summary:hover,
#personal-points-baseshop-yearly.active-summary:hover,
#personal-points-basehop-overrides-yearly.active-summary:hover,
#personal-points-step-up-yearly.active-summary:hover,
#baseshop-points-baseshop-yearly.active-summary:hover,
#baseshop-points-baseshop-yearly.active-summary:hover,
#baseshop-points-basehop-overrides-yearly.active-summary:hover,
#baseshop-points-step-up-yearly.active-summary:hover, 

#personal-points-baseshop-goal.active-summary:hover,
#personal-points-baseshop-goal.active-summary:hover,
#personal-points-basehop-overrides-goal.active-summary:hover,
#personal-points-step-up-goal.active-summary:hover,
#baseshop-points-baseshop-goal.active-summary:hover,
#baseshop-points-baseshop-goal.active-summary:hover,
#baseshop-points-basehop-overrides-goal.active-summary:hover,
#baseshop-points-step-up-goal.active-summary:hover {
  background-color: var(--light-blue);
}



.summary-toggles .excluded-included {
  font-size:.85rem;
  letter-spacing: 1;
}

.disabled-div {
  height: 115px;
  width: 180px;
  padding: 10px 22px;
  border-radius: 5px;
  display: flex;
  text-align: center; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  background-color: rgb(189,189,189);
  color: var(--white);
}

.disabled-div span {
  margin-top: 6px;
  font-size:.8rem;
  letter-spacing: 1;
}

.summary-line {
  display: block;
}

.disabled-div[disabled] {
  /* pointer-events: none; Disable pointer events */
  /* opacity: 0.5; Apply a visual indication of the disabled state */
  cursor: not-allowed; /* Show a "not-allowed" cursor */
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 100%); 
  padding: 8px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */
  width: 91%;
  height: 91%;
  border-radius: 5px;
  background-color: rgb(189,189,189);
  display: flex;
  align-items: center;
  border: none;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}



#monthly-summary-nav-btns {
  margin: 40px 0 20px 0;
}







.footer {
  margin-top: -10px;
  color: var(--primary-blue);
  font-size: .9rem;
}

#together {
  text-align: center;
  font-weight: 700;
}


/* add TM to bottom of page */
/* add row below baseshop montly activity to indicate and show multiply by number of associates */


.projections-title {
  margin-top: 100px;
}




/* custom dropdown */
.dropdown {
  position: relative;
  /* margin-top: 100px; */
  width:300px;
  height: 42px;

}

.dropdown::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 3px solid var(--primary-blue);
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown.active::before {
  top: 19px;
  transform: rotate(-225deg);
}
.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  border: 1px solid var(--primary-blue);
  outline: none;
  color: var(--primary-text);
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.dropdown .option {
  position: absolute;
  top: 70px;
  width: 100%;
  background-color: #fff;
  /* box-shadow: 0 30px 30px rgba(0,0,0,0.05); */
  border: 1px solid var(--primary-blue);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  z-index: 999;
}

.dropdown.active .option {
  display: block;
}

.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .option div:hover {
  background: var(--primary-blue);
  color: #fff;
}









.inputBox {
  position: relative;
  width: 300px;
  background: var(--white);
}

/* 
todo: it would be nice if this happened after aption was selected,
but I think since I am loading in the selected value right on start up that
this is not possible. Perhaps, I only run if the wfg Contract level is null "" rather than 
automatically at start up 
window.addEventListener('DOMContentLoaded', function() {
*/
.dropdown span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.85em;
  color: var(--secondary-text);
  text-transform: uppercase;
  transition: 0.5s;
  padding-left: 15px;
  color: var(--primary-blue);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  /* todo color for sm-box */
  background: #fff;
  border-left: 1px solid var(--primary-blue);
  border-right: 1px solid var(--primary-blue);
  letter-spacing: 0.2em;
}

/* body {
  margin-left: 30px;
} */
/* .sliderLineGraph {
  width: 300px;
  margin-bottom: 20px;
} */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5;
}

.goal-line {
  fill: none;
  stroke: green;
  stroke-width: 2.5;
}

.axis text {
  font-size: 14px;
}

.goal-label {
  font-size: 14px;
  fill: green;
}

.grid-container {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
}

.viz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 244, 244, 0.548);
  /* background-color: #f6f6f6; */
  margin: 1rem;
  border-radius: 10px;
}

#viz1,
#viz2,
#viz3 {
  grid-column: span 2;
}

#viz4 {
  grid-column: span 6;
  grid-row: span 2;
}

#viz5 {
  grid-column: span 3;
  grid-row: span 2;
}

#viz6 {
  grid-column: span 3;
  grid-row: span 2;
}
